*{
    padding: 0%;
    margin: 0%;
}

body{
    box-sizing: border-box;
    background-color: blanchedalmond;
    height: 100vh;
    display: flex;
    align-items: center;
}

main{
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    border-radius: 3px;
    background-color: rgb(31, 32, 90);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#screen-display{
    height: 5em;
    background-color: white;
    margin: 1em;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    overflow-x: hidden;
}

#small-display{
    position: absolute;
    right: 10px;
    top: 5px;
}

#display{
    position: absolute;
    right: 10px;
    top: 35px;
    font-size: 2em;
}
#grid-buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px 5px;
    margin: 2em 1em 0 1em;
}

.button{
    width: 2.5em;
    height: 2.3em;
    background-color: rgb(61, 61, 102);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.5em;
    color: rgb(201, 200, 200);
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button:active{
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5);
}

#sum{
    grid-row: 4/6;
    grid-column: 4/5;
    height: auto;
}

#r2{
    font-weight: bold;
}
